@media (min-width: 1000px) {
  .grid-container, .grid-layout, .radar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(238px, 1fr));
    max-width: 2000px;
    /* width: 90%; */
    margin: 20px auto;
  }
}
@media (min-width: 1200px){
  .grid-container, .grid-layout, .radar-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  
}